<form method="post">
    <input name="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <button type="submit">Register</button>
</form>

@if (ViewBag.Error != null) {
    <p>@ViewBag.Error</p>
}