
@{
    Layout = "_LayoutCustomer";
}

@RenderSection("lib", required: false)

@RenderSection("breadcrumbs", required: false)

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-10 order-md-last">
                <div class="row">
					@RenderBody();
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

	    @await Component.InvokeAsync("MenuCategory")
        </div>
    </div>
</section>


@RenderSection("Scripts", required: false)